# Naive Bayes Classifier Algorithm Part 1

In [19]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
df.drop(["PassengerId", "Name", "SibSp", "Parch", "Ticket", "Cabin", "Embarked"], axis=1, inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [21]:
target = df.Survived
inputs = df.drop('Survived', axis=1)

In [22]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [23]:
inputs = pd.concat([inputs, dummies], axis=1)
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [24]:
inputs.drop(['Sex', 'female'], axis=1, inplace=True)
inputs.head(3)

   Pclass   Age     Fare  male
0       3  22.0   7.2500     1
1       1  38.0  71.2833     0
2       3  26.0   7.9250     0

In [25]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [26]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [27]:
inputs.Age = inputs.Age.fillna(round(inputs.Age.mean()))
inputs.head(10)

   Pclass   Age     Fare  male
0       3  22.0   7.2500     1
1       1  38.0  71.2833     0
2       3  26.0   7.9250     0
3       1  35.0  53.1000     0
4       3  35.0   8.0500     1
5       3  30.0   8.4583     1
6       1  54.0  51.8625     1
7       3   2.0  21.0750     1
8       3  27.0  11.1333     0
9       2  14.0  30.0708     0

In [82]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, train_size=0.8, random_state=6)

In [83]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [84]:
model.fit(X_train, y_train)

GaussianNB()

In [85]:
model.score(X_test, y_test)

0.8212290502793296

In [91]:
pred = model.predict(X_test[:10])

In [105]:
model.predict_proba(X_test[:10])

array([[0.01815091, 0.98184909],
       [0.95833293, 0.04166707],
       [0.9563385 , 0.0436615 ],
       [0.22583824, 0.77416176],
       [0.76671017, 0.23328983],
       [0.95749449, 0.04250551],
       [0.95654916, 0.04345084],
       [0.95528267, 0.04471733],
       [0.95629121, 0.04370879],
       [0.93037721, 0.06962279]])

In [94]:
actual = y_test.iloc[:10]

In [103]:
comp = pd.DataFrame(pred, actual).reset_index()
comp.rename(columns={'Survived':'Pred', 0:'Actual'})

   Pred  Actual
0     1       1
1     0       0
2     0       0
3     1       1
4     1       0
5     0       0
6     0       0
7     0       0
8     0       0
9     0       0