# Linear Regression Multiple Variable

## ie3

In [11]:
import pandas as pd
import math
from sklearn import linear_model
df = pd.read_csv("homeprices2.csv")
print(df)
median_bedrooms = math.floor(df.bedrooms.median())
print(median_bedrooms)
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
print(df)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
3
   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

pandas.core.frame.DataFrame

In [15]:
from sklearn.model_selection import train_test_split
x = df.drop(["price"], axis="columns")
y = df.price
print(type(x))
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.75, random_state=23)
print(type(x_train))
print(len(x_test))
reg = linear_model.LinearRegression()
reg.fit(x_train, y_train)
print(reg.score(x_test, y_test))
print(reg.coef_)
print(reg.intercept_)
print(reg.predict([[3000, 3, 15]]))
print(reg.predict([[2500, 3, 15]]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
2
0.8322115384615385
[   86.25     0.   -4125.  ]
408249.9999999999
[605125.]
[562000.]

## asgn3

In [30]:
from word2number import w2n
import math
hr = pd.read_csv("hiring.csv")
print(type(hr))
print(hr)
hr.experience = hr.experience.fillna("zero")
hr.experience = hr.experience.apply(w2n.word_to_num)
print(hr)
median_test_score = math.floor(hr["test_score(out of 10)"].mean())
print(median_test_score)
hr["test_score(out of 10)"] = hr["test_score(out of 10)"].fillna(median_test_score)
print(hr)

<class 'pandas.core.frame.DataFrame'>
  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000
   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000
7
   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression as LR
x = hr.drop(["salary($)"], axis="columns")
y = hr["salary($)"]
print(type(x))
print(type(y))
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, random_state=1)
reg = LR()
reg.fit(x_train, y_train)
print(reg.score(x_test, y_test))
print(reg.predict([[2,9,6]]))
print(reg.predict([[12,10,10]]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
0.9167614909316284
[53704.80156786]
[94927.56818553]