# This is Python Tutorial

This is our first program in python: It is just started here

In [ ]:
print("Hello, World")

$a=b+c$

In [5]:
x = 2.2
print(type(x))

<class 'float'>

# Variable

In [9]:
x = 5.7

In [12]:
print(type(x))

<class 'float'>

In [13]:
abcd = 556.32

In [14]:
%whos

Variable   Type     Data/Info
-----------------------------
abcd       float    556.32
x          float    5.7

In [36]:
a,b,c,d,f = 3,5,6.0,7.2,-3

In [37]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
s          str      hello, world!
x          float    5.7

In [29]:
del abcd

NameError: name 'abcd' is not defined

In [30]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        3
b          str        dd
c          complex    (2+4j)
d          float      7.2
f          int        -3
s          str        hello, world!
x          float      5.7

In [31]:
print(abcd)

NameError: name 'abcd' is not defined

In [32]:
c = 2+4j
print(type(c))

<class 'complex'>

In [33]:
s = "hello, world!"
print(type(s))

<class 'str'>

# Operation

In [34]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        3
b          str        dd
c          complex    (2+4j)
d          float      7.2
f          int        -3
s          str        hello, world!
x          float      5.7

In [38]:
sumOfaAndb = a + b

In [39]:
print(sumOfaAndb)

8

In [41]:
type(a+d)

float

In [43]:
((a+d)**3)/4

265.30199999999996

In [49]:
s1 = "hello,"
s2 = "world!"
# s = s1 , s2
print(s1, s2)

hello, world!

In [50]:
10//3

3

In [51]:
10/3

3.3333333333333335

In [52]:
_

3.3333333333333335

In [53]:
3x = 5

SyntaxError: invalid syntax (Temp/ipykernel_30208/1671370663.py, line 1)

In [54]:
@y = 4

SyntaxError: invalid syntax (Temp/ipykernel_30208/1883568809.py, line 1)

In [55]:
*t = 4

SyntaxError: starred assignment target must be in a list or tuple (Temp/ipykernel_30208/2131412375.py, line 1)

In [56]:
_e = 6

In [59]:
startingTimeOfTheCourse = 2.0

In [60]:
%whos

Variable                  Type     Data/Info
--------------------------------------------
a                         int      3
b                         int      5
c                         float    6.0
d                         float    7.2
f                         int      -3
s                         tuple    n=2
s1                        str      hello,
s2                        str      world!
startingTimeOfTheCourse   float    2.0
sumOfaAndb                int      8
x                         float    5.7

# Bool

In [61]:
a = True
b = True
c = False

In [62]:
%whos

Variable                  Type     Data/Info
--------------------------------------------
a                         bool     True
b                         bool     True
c                         bool     False
d                         float    7.2
f                         int      -3
s                         tuple    n=2
s1                        str      hello,
s2                        str      world!
startingTimeOfTheCourse   float    2.0
sumOfaAndb                int      8
x                         float    5.7

In [63]:
print(a and b)
print(a and c)
print(b and c)

True
False
False

In [67]:
d = a or c
print(d)

True

In [64]:
not(a)

False

In [65]:
not(b)

False

In [66]:
not(c)

True

In [68]:
t = not(d)

In [69]:
type(t)

bool

In [70]:
print(t)

False

In [71]:
not((a and b) or (c and d))

False

# Comparisons

In [72]:
print(2<3)

True

In [75]:
c = 2<3
print(type(c))
print(c)

<class 'bool'>
True

In [76]:
d = 3==4

In [78]:
print(d)

False

In [79]:
3==3.0

True

In [1]:
x = 4
y = 9
z = 8.3
r = -3

In [2]:
(x<y) and (z<y) or (r==x)

True

In [4]:
(x<y) and (r==x) or (z>y)

False

In [6]:
True or False and False # and first

True

In [7]:
print((not(2!=3) and True) or  (False and True))

False

In [8]:
print(round(4.556))

5

In [10]:
print(round(4.556389, 3))

4.556

In [2]:
G = divmod(34, 9)

In [3]:
type(G)

tuple

In [4]:
G[0]

3

In [5]:
G[1]

7

In [6]:
34//9

3

In [7]:
34%9

7

In [8]:
isinstance(3, int)

True

In [9]:
isinstance(3.4, int)

False

In [10]:
isinstance(3.4, float)

True

In [11]:
isinstance(3.4, (float, int))

True

In [13]:
isinstance(2+3j, (int, float, str, complex))

True

In [14]:
pow(2, 4)

16

In [15]:
2**4

16

In [13]:
pow(2, 4, 7)

2

# Control Flow

In [23]:
x = input("Enter a number: ")

Enter a number:56

In [24]:
type(x)

str

In [33]:
x = int(x)

In [31]:
type(x)

str

In [34]:
print(x-34)

22

In [36]:
a = float(input("Enter a real number: "))

Enter a real number:12.5

In [37]:
type(a)

float

In [38]:
b = float(input("Enter a real number: "))

Enter a real number: abc

ValueError: could not convert string to float: 'abc'

In [45]:
pow?

In [46]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

# Control Flow (If-Elif-Else)

In [1]:
a = int(input())
b = int(input())
if b > a:
    print(b, "is greater than", a)
elif a == b:    
    print(a, "is equal to", b)
else:
    print(a, "is greater than", b)

5
5
5 is equal to 5

In [2]:
a = int(input("Enter Marks: "))
if a >= 85:
    print("A Grade")
elif (a < 85) and (a >= 80):
    print("A- Grade")
elif a < 80 and a >= 75:
    print("B Grade")
elif a < 75 and a >= 70:
    print("B- Grade")
else:
    print("Below Average")

Enter Marks: 86
A Grade

In [6]:
# single line comment
""" 
User will enter a floating point number let say 238.915. Your task
is to find out the integer portion before the point (in this case 238)
and then check if that integer portion is an even number of not?
"""
x = float(input("Enter a real number: "))
if x > 0:
    y = round(x)
    if y > x:
        inPortion = y - 1
    else:
        inPortion = y
else:
    y = round(x)
    if y < x:
        inPortion = y + 1
    else:
        inPortion
print(inPortion)

if inPortion % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a real number: -9.3
-9
Odd

# Control Flow (Loops)

In [15]:
n = int(input("Max iteration:'"))
i = 1
while i < n: 
    print(i**2)
    print("This is iteration number:", i)
    i += 1
print("done")

Max iteration:'4
1
This is iteration number: 1
4
This is iteration number: 2
9
This is iteration number: 3
done

In [23]:
n = int(input("Enter a integer"))
i = 1
while True:
    if i%n == 0:
        print("stop")
        break
    else:
        i += 1
        print(i)
        continue
    print("continue")
print("done")

Enter a integer3
2
3
stop
done

In [1]:
L = []
for i in range(1, 20, 3):
    print(i)
    L.append(i**2)
print(L)

1
4
7
10
13
16
19
[1, 16, 49, 100, 169, 256, 361]

In [33]:
S = {"apple", 4.9, "cherry"}
i = 1
for x in S:
    print(i)
    i += 1
    if i == 3:
        break
    else:
        pass
else:
    print("Loop terminates")
print("Outside the loop")

1
2
Outside the loop

In [35]:
D = {"apple":44, "cherry":"game"}
for x in D:
    print(x, D[x])

apple 44
cherry game

In [31]:
############################################################################################################################
""" Given a list of number i.e. [1,2,4,-5,7,9,3,2], make another list
that all the items in sorted order from min to max. i.e. your 
result will be another list like [-5,1,2,2,3,7,9]
"""
L = [1, 2, 4, -5, 7, 9, 3, 2]
for j in range(len(L)):
    m = L[j]
    idx = j
#     c = j
    for i in range(j, len(L)):
            if L[i] < m:
                m = L[i]
                idx = i
#             c += 1 
    tmp = L[j]
    L[j] = m
    L[idx] = tmp
    print(idx, m)
print(L)

3 -5
3 1
3 2
7 2
6 3
7 4
6 7
7 9
[-5, 1, 2, 2, 3, 4, 7, 9]

# Functions

In [77]:
def printSuccess():
    """pseducode does nothing but explaining"""
    print("damn")
printSuccess()

damn

In [85]:
def printMsg(msg):
    if isinstance(msg, str):
        print(msg)
    else:
        print(msg, type(msg), "is not str")
printMsg("dd")
printMsg(4)

dd
4 <class 'int'> is not str

In [87]:
def mypow(a, b):
    c = a**b
    print(c)
mypow(2,3)

8

In [92]:
def add(x, y):
    return x + y
    print('dd')
add(2, 3)

None

In [107]:
def myAddUniversal(*args): # arbitrary vars
    s = 0
    for i in args:
        s += i
    return s
print(myAddUniversal(2,3,4))
def myAddUniversal2(*r):
    s = 0
    for i in range(len(r)):
        s += r[i]
    return s
myAddUniversal2(2,3,4)

9

9

In [110]:
def printAllVariableNamesAndValues(**args): # directionary
    for x in args:
        print(x, args[x])
printAllVariableNamesAndValues(a = 3, b ='cc', c = 4)

a 3
b cc
c 4

In [114]:
def gg(s=4):
    print(s)
gg()
gg(66)

4
66

In [115]:
L = [1, 2, 3]
L2 = L
L2[0] = -9
print(L)

[-9, 2, 3]

In [6]:
D = []
def ff(L = [1, 2]):
    for i in L:
        D.append(i)
    print(D)
L2 = [12, 3, 4]
ff(L2)

[12, 3, 4]

In [1]:
import sys
sys.path.append('C:/Users/Administrator/Desktop/CU/')

ModuleNotFoundError: No module named 'py2'

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [5]:
"""Given a list of number i.e. [1,2,4,-5,7,9,3,2], make another list/nthat cont ains all the itmes in sorted order from min 
to max. i.e. your \nresult will be another list like [-5,1,2,2,3,7,9]"""

'Given a list of number i.e. [1,2,4,-5,7,9,3,2], make another list/nthat cont ains all the itmes in sorted order from min \nto max. i.e. your \nresult will be another list like [-5,1,2,2,3,7,9]'

In [28]:
def findMin(L, startIdx):
    m = L[startIdx]
    idx = startIdx
    for i in range(startIdx, len(L)):
        x = L[i]
        if x < m:
            m = x
            idx = i
        else:
            pass
    return m, idx
findMin([2,3,4,0,9],0)

(0, 3)

In [9]:
def swapValues(L, idx1, idx2):
    temp = L[idx1]
    L[idx1] = L[idx2]
    L[idx2] = temp
    return L
L = [2,3,6,7]
swapValues(L, 1, 2)

[2, 6, 3, 7]

In [26]:
def checkIfNotNumeric(L):
    retValue = True
    for x in L:
        if not (isinstance(x, (int, float))):
            return False
        return True
def sortList(L):
    if not checkIfNotNumeric(L):
        print("Error: List does not contain numeric values")
        return
    else: 
        c = 0
        for x in L:
            m, idx = findMin(L, c)
            L = swapValues(L, c, idx)
            c += 1
    return L
sortList([2,1,5,3,-8,17])

[-8, 1, 2, 3, 5, 17]

In [55]:
def sort(L):
    for j in range(len(L)):
        m = L[j]
        idx = j
        for i in range(j, len(L)):
            if L[i] < m:
                m = L[i]
                idx = i
        temp = L[j]
        L[j] = m
        L[idx] = temp
        print(idx, m)
L = [4,3,-5,2,6]
sort(L)

2 -5
3 2
3 3
3 4
4 6

# String

In [76]:
a = "Game of coding"
b = "How are doing"
print(b[-8:-3])
print(b[0:12:2])
print(a[::-1])
# b[start:end:step]

re do
Hwaedi
gnidoc fo emaG

In [90]:
a = "  abc def     ghi      jkl     "
b = a.strip()
print(b)
c = "abc;def;ghi;jkl"
d = c.split(";")
print(d)
print(d[1])

abc def     ghi      jkl
['abc', 'def', 'ghi', 'jkl']
def

In [93]:
print("c:\name")
print(r"c:\name")

c:
ame
c:\name